body {
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-brand {
    font-weight: 500;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    bottom: 70px;
    width: 100%;
    height: 2.5rem;
}

.cards-publicaciones .card-img-top {
    height: 400px;
    width: 100%;
    justify-self:center;
    display:block;
}

.cards-publicaciones {
    margin: 0 auto 30px auto;
    width: 100%;
    border-radius: 15px!important;
}

.cards-comentarios {
    margin: 50px auto 30px auto;
    width: 55%;
}

.paginacion-principal {
    align-content: center;
}

.paginacion {
    margin: 0 auto 30px auto;
}

.card-titulo {
    margin-top: 0;
    text-align: center;
}

.card-img-top {
    height: 20rem;
    width: 100%;
}

.dropdown-principal {
    margin-bottom: 60px;
    width: 100%;
}

.titulos-principales {
    margin: 30px 0 65px 0;
}

.texto-publicacion {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-align: justify;
}

.formulario {
    margin-top: 30px; 
    justify-content:center; 
    display:flex;
}

.form-group{
    margin-bottom: 10px;
    margin-top: 10px;
}

.badge-principal{
    margin-bottom: 15px;
}

.cards-publicacion {
    margin: 0 auto 30px auto;
    width: 70%;
    border-radius: 15px !important;
}

.cards-publicacion .card-img-top{
    height: 450px;
}
