

@model List<ProyectoWebBlog.Models.ViewModels.CategoriaModel>
@{
    ViewBag.Title = "Administrar categorias";
}

<div class="container justify-content-center" style="margin: 30px auto 40px auto">

    <div class="row">
        <h2 style="margin: 0 auto 40px auto">@ViewBag.Title</h2>
        <div class="col-md">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>Nombre categoría </th>
                    </tr>
                    @foreach (var elemento in Model)
                    {
                        <tr>
                            <td>@elemento.Nombre</td>
                            <td><a class="btn btn-danger" onclick="location.href='@Url.Action("EliminarCategoria", "Categoria", new { Id = elemento.Nombre })'">Eliminar</a></td>
                        </tr>
                        
                    }
                </table>
            </div>
        </div>

    </div>
</div>
