@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San José, Costa Rica<br />
</address>

<address>
    <strong>Abigail:</strong>   <a href="mailto:Support@example.com">abigamboav@gmail.com</a><br />
    <strong>Maria Jesús:</strong> <a href="mailto:Marketing@example.com">mariajesus@gmail.com</a>
</address>